body {
  position: relative; /* For scrollyspy */
}

/* ----------------------------------
 * home
 * ---------------------------------- */
.home {
    background: url(../img/index.png) no-repeat 50% 100px;
}



@media (max-width: 767px) {
    .home {
        background: none;
    }
}

/* ----------------------------------
 * icons
 * ---------------------------------- */

@font-face {
  font-family: "angularicons";
  src: url("../fonts/angularicons.eot");
  src: url("../fonts/angularicons.eot?#iefix") format("embedded-opentype"), url("../fonts/angularicons.woff") format("woff"), url("../fonts/angularicons.ttf") format("truetype"), url("../fonts/angularicons.svg") format("svg");
}

.icon {
  display: inline-block;
  font-family: "angularicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon[data-icon]:before {
  content: attr(data-icon);
  speak: none;
}

/* ----------------------------------
 * index
 * ---------------------------------- */
.index {
    padding-top: 100px;
    text-align: center;
    background-color: rgba(255, 255, 255, .9);
    min-height: 650px;
}
.index h1 {
    color: rgba(0, 0, 0, .8);
	max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.index h2 {
    color: rgba(0, 0, 0, .6);
	max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.index h3 {
    font-style: italic;
	max-width: 900px;
    margin-left: auto;
    margin-right: auto;
	color: rgba(0,0,0,.3)
}
.index .download-link {
    margin: 40px 0 20px;
}

.index .version-text {
    color: rgba(0, 0, 0, .6);
}
.index .learn-more {
    font-weight: bold;
    color: rgba(79, 190, 186, 1);
}
.index .learn-more a,
.index .learn-more a:hover,
.index .learn-more a:active {
    color: #50c1e9 !important;
    text-decoration: none;
}

@media (max-width: 767px) {
    .index {
        padding-top: 80px;
        min-height: 50px;
    }

    .index .download-link .btn {
        padding: 15px;
    }
}

@media (min-width: 992px) {

}

/* ----------------------------------
 * social
 * ---------------------------------- */
.social {
    position: relative;
    margin-top: -100px;
    margin-bottom: 0;
    padding: 40px 5px;
    height: 99px;
    text-align: center;
    background: rgba(255, 255, 255, .7) url(../img/divider.png) no-repeat 50% 100%;
}
.social li {
    height: 30px;
    display: inline-block;
    vertical-align: top;
}
.social a {
    color: #50c1e9 !important;
}
.social .github-watch {
    width: 105px;
}
.social .github-fork {
    width: 105px;
}
.social .twitter-share {
    width: 80px;
    margin-right: 10px;
}
.social .twitter-follow {
    width: 200px;
}
/* ----------------------------------
 * desc
 * ---------------------------------- */
.desc {
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
}
.desc a {
    color: rgba(79, 190, 186, 1);
}
.desc a:hover,
.desc a:active {
    color: #50c1e9;
    text-decoration: none;
}
.desc .desc__introduces {
    border-top: 1px dashed #AAB2BD ;
}
.desc .desc__introduces:first-child {
    border-top: none;
}

.desc .desc__introduces h3 {
    max-width: 900px;
	color:#333;
    margin-left: auto;
    margin-right: auto;
}
.desc .desc__introduces p {
    color: #333;
	max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.desc .desc__introduces .photo--responsive img {
    width: 100%;
}
.desc .desc__features {
    margin: 70px auto;
    text-align: left;
}
.desc .desc__features .row {
    margin-bottom: 70px;
}
.desc .desc__features .col-md-6 {
    padding-left: 247px;
    min-height: 200px;
    text-align: left;
}
.desc .desc__features .features__photo {
    position: absolute;
    top: 0;
    left: 0;
}

.desc .desc__features p {

    color: #888;

}
@media (max-width: 767px) {
    .desc .desc__introduces h3 {
        text-align: left;
    }
    .desc .desc__introduces p {
        text-align: left;
    }
    .desc .desc__features .row {
        margin-bottom: 20px;
    }
    .desc .desc__features .row p {
        text-align: left;
    }
    .desc .desc__features .features__photo {
        position: static;
    }
    .desc .desc__features .col-md-6 {
        padding: 0 15px;
        text-align: center;
    }
}
/* ----------------------------------
 * docs
 * ---------------------------------- */
.docs-header {
    padding-top: 50px;
    border-top: 1px solid #245FA2;
    background-color: #245FA2;
	color: rgba(255,255,255,0.87);
}
.docs-header.header--noBackground {
    background: none;
}
@media (max-width: 768px) {
    .docs-header {
        padding-top: 0;
    }
}
/* ----------------------------------
 * navbar
 * ---------------------------------- */
.navbar-custom {
    position: fixed !important;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
    background-color: #2a6ebb;
    width: 100%;
    z-index: 2000;
}
.navbar-custom .nav li a {
    display: block;
    color: #fff;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:hover {
    color: rgba(255,255,255,0.87);
	background-color: #245FA2;
}
.navbar-custom .nav li a:active,
.navbar-custom .nav li a.current {
    background-color: #245FA2;
	color: rgba(255,255,255,1.0);
}
.navbar-custom .navbar-toggle {
    position: relative;
    background-color: #245FA2;
    border-color: #245FA2;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #b4cfee;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: rgba(255, 255, 255, .9);
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:active {
    opacity: 1;
    filter:alpha(opacity=100);
}
.navbar-default .navbar-collapse {
    border-color: #245FA2;
}
@media (max-width: 992px) {
  .navbar-custom .navbar-brand {
    overflow: hidden;
  }
  
}
@media (max-width: 767px) {
  .navbar-custom {
    position: relative;
    top: 0;
  }
  .navbar-custom .navbar-nav > li > a:hover,
  .navbar-custom .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #245FA2;
  }
}
/* ----------------------------------
 * topic
 * ---------------------------------- */
.topic {
    position: relative;
    padding: 50px 0 110px;
}
.topic h1 {
    color: rgba(255,255,255,1.0);

}
.topic h2 {
    color: rgba(255,255,255,0.87);

}
.topic .topic__infos {
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
    padding-top: 14px;
    background: #B4CFEE;
    width: 100%;
}
.topic .container {
    position: relative;
    color: rgba(0, 0, 0, 1);
}
.topic .container a {
    color: #fff;
    filter:alpha(opacity=100);
    opacity: 1;
    text-decoration: underline;
    padding: 0;
    font-weight: normal;
}
.topic .container a.btn {
    padding: 10px 16px;
    text-decoration: none;
}
.topic .github {
    position: relative;
    top: 10px;
}
/* ----------------------------------
 * documents
 * ---------------------------------- */
.documents {
    margin-top: 40px;
}
/* ----------------------------------
 * details
 * ---------------------------------- */
.details {
    position: relative;
    padding-right: 400px;
}
@media (max-width: 991px) {
    .details { width: 100%; }
}
@media (max-width: 767px) {
    .details { padding: 0 15px; }
}
/* ----------------------------------
 * docs-article
 * ---------------------------------- */
.docs-article {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
}
.docs-article:last-child {
    border-bottom: none;
}

.docs-article dd {
    margin-bottom: 10px;
}
.docs-article a {
    color: #50c1e9;
    text-decoration: underline;
}
.docs-article a:hover {
    color: #50c1e9;
}
.docs-article .item__infos {
    margin: 0 0 10px 0;
    list-style: disc;
}
.docs-article .item__infos li {
    margin-bottom: 10px;
}
.docs-article .btn-primary,
.docs-article .btn-primary:hover {
    color: #fff;
    text-decoration: none;
}
.docs-article pre {
    border: none;
    background-color: #f7f7f7;
}

/* ----------------------------------
 * example text box
 * ---------------------------------- */
 figure.example.do {
	border-bottom: 15px solid #69BE28;
}

figure.example.dont {
	border-bottom: 15px solid #CD202C;

}

figure.example.dont .caption-title {
		color: #CD202C;
	}

 .text-box {
	background-color: #fff;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    padding: 24px;	 }
/* ----------------------------------
 * table styling
 * ---------------------------------- */	 
data-table table {
    background-color: #fff;
    font-size: 13px;
    table-layout: auto;
}
.data-table table tr:first-child {
    background-color: #FAFAFA;
    font-weight: 500;
}
.data-table table tr:first-child td {
    color: #757575;
    border-top: 1px solid #E5E5E5;
}
.data-table table tr td:last-child {
    border-right: 1px solid #E5E5E5;
}
.data-table table td {
    border: 1px solid #eee;
    line-height: 24px;
    padding: 12px 12px 12px 24px;
    color: #212121;
}

/* ----------------------------------
 * example
 * ---------------------------------- */
.example {
    margin-bottom: 20px;
}
.example .example-title {
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 1);
	
}
.example .example-title span {
    color: #ED5565;
	font-size: 1.6rem;
}
.example [class*="col-"] {
    margin-bottom: 10px;
}
.example-dropdown h2 + .dropdown-menu,
.example-popover .popover,
.example-modal .modal {
    position: static;
    display: block;
}
.example-dropdown h2 + .dropdown-menu {
    float: none;
    width: 200px;
}
.example-popover .popover {
    position: relative;
}
@media (max-width: 960px) {
    .tooltip-demo [class*="col-"] {
        text-align: center;
    }
    .tooltip-demo [class*="col-"] .btn-block {
        display: inline-block;
        margin: 0 auto;
        width: 160px;
    }
}
.example-popover [class*="col-"]:nth-of-type(1) .popover {
    margin-top: 0;
}
.example-popover [class*="col-"]:nth-of-type(3) .popover,
.example-popover [class*="col-"]:nth-of-type(4) .popover {
    margin-top: 40px;
}
.example-progress [class*="col-"]:last-child .progress {
    margin-bottom: 10px;
}
.example-pagination .pagination,
.example-pagination .pager {
    margin: 0 !important;
}

.example-modal .modal {
    overflow: hidden;
}
@media (min-width: 768px) {
    .example-modal .modal-dialog {
        width: 545px;
        margin: 5px;
    }
}
.example-typography {
    position: relative;
    padding-left: 25%;
    margin-bottom: 40px;
}
.example-typography .heading-note,
.example-typography .text-note {
    display: block;
    width: 260px;
    position: absolute;
    bottom: 2px;
    left: 0;
    color: #AAB2BD;
}
.example-typography .text-note {
    bottom: auto;
    top: 10px;
}
/* ----------------------------------
 * color-swatches
 * ---------------------------------- */
.color-swatches .swatches {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFF;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}
.color-swatches .bmj-color-swatch {
	height: 70px;
	-webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.color-swatches .infos {
    padding: 5px 10px;
}
.color-swatches .infos h4,
.color-swatches .infos p {
    margin: 0;
}
.color-swatches .infos h4 {
    margin-bottom: 3px;
}
.color-swatches .infos p {

}

/* ----------------------------------
 * previews
 * ---------------------------------- */
.previews {
    text-align: center;
}
.previews p {
}
.previews img {
    max-width: 100%;
}
/* ----------------------------------
 * Section and Content styling
 * ---------------------------------- */
 hr.section {
	border-top: 3px solid #2a6ebb;
	margin: 40px 0px; 
	 
 }
 
 
 
/* ----------------------------------
 * btn-group & labels
 * ---------------------------------- */
.blank {
    display: none;
}
@media (max-width: 768px) {
    .blank {
        display: block;
        height: 15px;
    }
}
.site-footer {
    position: relative;
    z-index: 2000;
    border-top: 1px dashed #AAB2BD;
    padding: 40px 0 20px;
    background-color: #f5f5f5;
}
.site-footer a,
.site-footer .connect {
    color: #50c1e9;
}
.site-footer a:hover,
.site-footer a:active {
    color: #50c1e9;
    text-decoration: none;
}
.site-footer .row .col-md-4 {
    margin-bottom: 20px;
}
.site-footer h3 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
}
.site-footer ul {
    padding-left: 0;
}
.site-footer li {
    list-style: none;
    font-size: 14px;
}
.site-footer hr {
    margin: 20px 0;
    border: none;
    height: 1px;
    width: 100%;
}
.site-footer hr.dashed {
    border-top: 1px dashed #ccc;
}
.site-footer .icon {
    margin-right: 10px;
    font-size: 28px;
}
.site-footer form {
    padding: 0 !important;
}
.site-footer form label {
    font-size: 14px !important;
    font-weight: normal !important;
}
.site-footer input[type="email"] {
    margin-right: 10px;
    width: 75%;
}
.site-footer input[type="email"],
.site-footer input[type="email"]:focus,
.site-footer input[type="submit"],
.site-footer input[type="submit"]:active,
.site-footer input[type="submit"]:focus {
    border: none !important;
}
.site-footer .email,
.site-footer .clear {
    float: left;
}
.site-footer .copyright p:last-child {
    margin-top: 10px;
}
.site-footer .copyright b {
    font-size: 16px;
}
.site-footer .download .download__infos {
    font-size: 18px;
}
.site-footer .download .btn {
    color: #000;
}
.site-footer .download .btn-primary {
    color: #fff;
}
