// Variables
//------------------------------------------------------
$button-normal:                  $grey-lighter !default;
$button-default:                 $white !default;
$button-primary:                 $brand-primary !default;
$button-success:                 $brand-success !default;
$button-danger:                  $brand-danger !default;
$button-warning:                 $brand-warning !default;
$button-info:                    $brand-info !default;

$button-normal-hover:            $grey-lightest !default;
$button-default-hover:           $button-default !default;
$button-primary-hover:           $brand-primary-lighter !default;
$button-success-hover:           $brand-success-lighter !default;
$button-danger-hover:            $brand-danger-lighter !default;
$button-warning-hover:           $brand-warning-lighter !default;
$button-info-hover:              $brand-info-lighter !default;

$button-font-color-dark:         $grey-darker !default;
$button-font-color-light:        $white !default;

$button-opacity:                 45 !default;
$button-shadow:                  inset 0 1px 2px rgba(0, 0, 0, .125) !default;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                normal;

$btn-default-color:              $grey-dark;
$btn-default-bg:                 $white;
$btn-default-border:             $bmjBlueLight;

$btn-primary-color:              $white;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             $btn-primary-bg;

$btn-success-color:              $white;
$btn-success-bg:                 $brand-success;
$btn-success-border:             $btn-success-bg;

$btn-info-color:                 $white;
$btn-info-bg:                    $brand-info;
$btn-info-border:                $btn-info-bg;

$btn-warning-color:              $white;
$btn-warning-bg:                 $brand-warning;
$btn-warning-border:             $btn-warning-bg;

$btn-danger-color:               $white;
$btn-danger-bg:                  $brand-danger;
$btn-danger-border:              $btn-danger-bg;

$btn-navbar-toggle-color:        $brand-primary;
$btn-navbar-toggle-bg:           $white;
$btn-navbar-toggle-border:       $btn-navbar-toggle-bg;

$btn-inverse-toggle-color:        $white;
$btn-inverse-toggle-bg:           $brand-primary;
$btn-inverse-toggle-border:       $btn-inverse-toggle-bg;


$btn-link-disabled-color:        $grey-light;


// Exports
//------------------------------------------------------

@include exports("button") {

  /**
   * button
   * --------------------------------------------------
   */
  .btn {
    color: $button-font-color-light;
	border-radius: $border-radius-base; 

    &,
    &.disabled, 
    &[disabled] {
        border-color: $button-normal;
        background-color: $button-normal;
    }
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $button-font-color-light;
        border-color: $button-normal-hover;
        background-color: $button-normal-hover; 
        outline: none !important;     
    }
    &:active,
    &.active {
        @include box-shadow($value: $button-shadow);
    }
    &.disabled, 
    &[disabled] {
        @include opacity($opacity: $button-opacity, $filter: true);
    }

    @at-root &-link {
      &,
      &:hover, 
      &:focus, 
      &:active, 
      &.active,
      &.disabled,
      &[disabled] {
          border-color: transparent;
          background-color: transparent;
          color: $button-primary;
          @include box-shadow($value: none);
      }
      &:hover, 
      &:focus {
          text-decoration: underline;
      }
    }

    @at-root &-default {
        color: $button-font-color-dark;
        border-color: $button-normal !important; 

        &:hover, 
        &:focus,
        &:active, 
        &.active {
            border-color: $button-normal-hover;
            background-color: $button-normal-hover;           
        } 
        &,
        &.disabled,
        &[disabled] {
            background-color: $button-default;
        }
    }
    @at-root .open .dropdown-toggle.btn-default {
        border-color: $button-normal-hover;
        background-color: $button-normal-hover;      
    }

    @at-root &-primary {
      &, 
      &:active, 
      &.active,
      &.disabled,
      &[disabled] {
          border-color: $button-primary;
          background-color: $button-primary;    
      }
      &:hover, 
      &:focus {
          border-color: $button-primary-hover;
          background-color: $button-primary-hover;         
      }
    }
    @at-root .open .dropdown-toggle.btn-primary {
        border-color: $button-primary-hover;
        background-color: $button-primary-hover;      
    }

    @at-root &-info {
      &, 
      &:active, 
      &.active, 
      &.disabled,
      &[disabled] {
          border-color: $button-info;
          background-color: $button-info;    
      }
      &:hover, 
      &:focus {
          border-color: $button-info-hover;
          background-color: $button-info-hover;           
      }
    }
    @at-root .open .dropdown-toggle.btn-info {
        border-color: $button-info-hover;
        background-color: $button-info-hover;      
    }

    @at-root &-success {
      &, 
      &:active, 
      &.active, 
      &.disabled,
      &[disabled] {
          border-color: $button-success;
          background-color: $button-success;    
      }
      &:hover, 
      &:focus {
          border-color: $button-success-hover;
          background-color: $button-success-hover;           
      }
    }
    @at-root .open .dropdown-toggle.btn-success {
        border-color: $button-success-hover;
        background-color: $button-success-hover;      
    }

    @at-root &-warning {
      &, 
      &:active, 
      &.active, 
      &.disabled,
      &[disabled] {
          border-color: $button-warning;
          background-color: $button-warning;    
      }
      &:hover, 
      &:focus {
          border-color: $button-warning-hover;
          background-color: $button-warning-hover;          
      }
    }
    @at-root .open .dropdown-toggle.btn-warning {
        border-color: $button-warning-hover;
        background-color: $button-warning-hover;      
    }

    @at-root &-danger {
      &, 
      &:active, 
      &.active, 
      &.disabled,
      &[disabled],
      .open .dropdown-toggle.btn {
          border-color: $button-danger;
          background-color: $button-danger;    
      }
      &:hover, 
      &:focus {
          border-color: $button-danger-hover;
          background-color: $button-danger-hover;           
      }
    }
    @at-root .open .dropdown-toggle.btn-danger {
        border-color: $button-danger-hover;
        background-color: $button-danger-hover;      
    }
  }
}


