// Global Variables
//------------------------------------------------------
$modules:                     () !default;

$experimental:                true !default;

// prefix elements
$prefix-webkit:               true !global;
$prefix-moz:                  true !global;
$prefix-spec:                 true !global;



//== Colors ==//
//## Grey and brand colors for use across Bootstrap.

$grey-darker:            lighten(#000, 13.5%); // #222
$grey-dark:              lighten(#000, 20%);   // #333
$grey:                   lighten(#000, 33.5%); // #555
$grey-light:             lighten(#000, 60%);   // #999
$grey-lighter:       	 lighten(#000, 80%);   // #ccc
$grey-lightest:          lighten(#000, 93.5%); // #eee
$white:                  lighten(#000, 100%); // #fff


// BMJ BLUES
// -------------------------
$bmjBlue:       		#2A6EBB;
$bmjBlueDark:           darken($bmjBlue, 10%);  
$bmjBlueDarker:         darken($bmjBlue, 40%);  
$bmjBlueLight:          lighten($bmjBlue, 10%);  
$bmjBlueLighter:        lighten($bmjBlue, 25%);  
$bmjBlueLightest:       lighten($bmjBlue, 50%);  
$bmjBlueFade:           fade($bmjBlue, 10%);  
$bmjBlueFader:      	fade($bmjBlue, 25%);  
$bmjBlueFadest:       	fade($bmjBlue, 50%); 


// BMJ GREYS
// -------------------------
$bmjGrey:                   #747678;
$bmjGrey-darker:            darken($bmjGrey, 20%);
$bmjGrey-dark:              darken($bmjGrey, 10%);
$bmjGrey-light:             lighten($bmjGrey, 10%);
$bmjGrey-lighter:       	lighten($bmjGrey, 30%);


 

//BMJ SECONDARY PALETTE
// -------------------------

// Lightest= 50 Light= 100 dark= 700

$blue:                  $bmjBlue;
$blueDark:              #1F5189;
$blueLight:             #B4CFEE;
$blueLightest:          #F2F7FC;
$lightBlueLighter:      lighten($blueLight, 25%);
$lightBlueDarker:       darken($blueLight, 10%);
$grey:                  #747678;
$greyDark:              #565759;
$greyLight:             #D4D4D5;
$greyLightest:          #FBFBFB;
$greyLighter:     		lighten($grey, 25%);
$greyDarker:       		darken($grey, 10%);
$green:                 #69BE28;
$greenDark:             #4D8B1D;
$greenLight:            #CDEFB4;
$greenLightest:         #F7FCF3;
$greenLighter:          lighten($green, 25%);
$greenDarker:         	darken($green, 10%);
$red:                   #CD202C;
$redDark:               #981821;
$redLight:              #F4B6BA;
$redLightest:           #FEF8F9;
$redLighter:            lighten($red, 25%);
$redDarker:            	darken($red, 10%);
$yellow:                #F0AB00;
$yellowDark:            #B37F00;
$yellowLight:           #FFE8AE;
$yellowLightest:        #FFFEFA;
$yellowLighter:			lighten($yellow, 25%);
$yellowDarker:          darken($yellow, 10%);
$orange:                #E37222;
$orangeDark:            #B15716;
$orangeLight:           #F8DDC9;
$orangeLightest:        #FFFFFF;
$orangeLighter:			lighten($yellow, 25%);
$orangeDarker:			darken($orange, 10%);
$pink:                  #C50084;
$pinkDark:              #88005B;
$pinkLight:             #FF83D6;
$pinkLightest:          #FFCFEF;
$pinkLighter:			lighten($pink, 25%);
$pinkDarker:			darken($pink, 10%);
$purple:                #7D5CC6;
$purpleDark:            #5E3BAA;
$purpleLight:           #ECE8F7;
$purpleLightest:        #FFFFFF;
$purpleLighten:			lighten($purple, 25%);
$purpleDarker:			darken($purple, 10%);
$aqua:                	#00B2A9;
$aquaDark:              #00756F;
$aquaLight:             #70FFF8;
$aquaLightest:         	#BCFFFC;
$aquaLighten:			lighten($aqua, 25%);
$aquaDarker:			darken($aqua, 10%);


$brand-primary:         $bmjBlue;
$brand-primary-lighter: $bmjBlueLighter;
$brand-primary-darker: 	$bmjBlueDark;
$brand-success:         $green;
$brand-success-lighter: $greenLighter;
$brand-success-darker:  $greenDarker;
$brand-info:            $blueLight;
$brand-info-lighter:    $lightBlueLighter;
$brand-info-darker:    	$lightBlueDarker;
$brand-warning:         $yellow;
$brand-warning-lighter: $yellowLighter;
$brand-warning-darker: 	$yellowDarker;
$brand-danger:          $red;
$brand-danger-lighter:  $redLighter;
$brand-danger-darker:  	$redDarker;




// BOOTFLAT color elements
$white:                       #FFF !default;
$black:                       #000 !default;

$lightgray-dark:              #E6E9ED !default;
$lightgray-light:             #F5F7FA !default;

$mediumgray-dark:             #AAB2BD !default;
$mediumgray-light:            #CCD1D9 !default;

$darkgray-dark:               #434A54 !default;
$darkgray-light:              #656D78 !default;


//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     6px;
$padding-base-horizontal:   12px;

$padding-large-vertical:    11px;
$padding-large-horizontal:  19px;

$padding-small-vertical:    2px;
$padding-small-horizontal:  10px;

$padding-xs-vertical:       0px;
$padding-xs-horizontal:     6px;

$line-height-large:         1.33;
$line-height-small:         1.5;

$border-radius-base:        2px;
$border-radius-large:       4px;
$border-radius-small:       1px;

//
// BMJ Widths
//
$page_width: 980px;
$max_page_width: 1170px;

//
// BMJ Breakpoints
//
$mobile: 320px;
$tablet: 768px; //This is set to page width by default
$desktop: $page_width;
$large-screen: $max_page_width;


