
// Variables
//------------------------------------------------------

$bmj_font: "interfaceregular", Helvetica, Arial, sans-serif;
$main_font: "Helvetica Neue", helvetica, Arial, sans-serif;
$monospace_font: Monaco, Menlo, Consolas, "Courier New", monospace;

$font-family-sans-serif:  "interfaceregular", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;

$body-font-color:            $grey-dark !default;
$body-background-color:      $white !default;

$link-font-color:            $brand-primary !default; 
$link-font-color-hover:      $brand-primary-lighter !default; 

$blockquote-border-color:    $mediumgray-light !default;

$image-radius:               4px !default;

$bmj_font: "interfaceregular", Helvetica, Arial, sans-serif;
$main_font: "Helvetica Neue", helvetica, Arial, sans-serif;
$monospace_font: Monaco, Menlo, Consolas, "Courier New", monospace;

$font-family-sans-serif:  "interfaceregular", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;


$font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

  /**
   * typography
   * --------------------------------------------------
   */
 body {
  margin: 0;
  @include font-size(14);
  font-family: $bmj_font;
  letter-spacing: 0.03em;
}