
// Variables //------------------------------------------------------ 


$footer-background-color:            $brand-primary !default;
$footer-menu-title-color:            $white !default;
$footer-menu-item-color:             $white !default;
$footer-menu-item-color-hover:       $white !default;
$footer-logo-color:                  $white !default;



 // Exports //------------------------------------------------------  
 
 
 
 @include exports("footer") {

  /**
   * footer
   * --------------------------------------------------
   */
   

.footer {
	 padding: 40px 0;
	 background-color: $footer-background-color;
		 &-logo,  &-nav {
		 float: left;
		}
	 &-explore {
		 border-left: 1px solid rgba($white, 0.5);
		 padding-left: 20px;
		}
	 @media (max-width: 768px) {
	 &-logo {
	 margin-bottom: 20px;
	}
	 &-logo,  &-nav {
	 float: none;
	 display: block;
	 width: 100%;
	}
	&-explore {
		 border-left: none;
		 padding-left: 0px;
		}
	}
	 &-logo {
	 margin-top: -5px;
	 height: 32px;
	 line-height: 32px;
	 & img {
	 margin-right: 10px;
	}
	 & a {
	 font-size: 20px;
	 font-weight: bold;
	 color: $footer-logo-color;
	}
	 & a:hover,  & a:active {
	 text-decoration: underline;
	}
	}
	 &-nav .nav-title {
	 margin-bottom: 15px;
	 color: $footer-menu-title-color;
	}
	 &-nav .nav-item {
	 line-height: 28px;
	 & > a {
	 color: $footer-menu-item-color;
	}
	 & > a:hover,  & > a:active {
	 color: $footer-menu-item-color-hover;
	 text-decoration: underline;
	}
	}
	 &-copyright {
	 color: $footer-menu-item-color;
	}
 ul.global-footer-links li {
	 display: inline;
	 list-style: none;
	 & > a {
	 color: $footer-menu-item-color;
	}
	 & > a:hover,  & > a:active {
	 color: $footer-menu-item-color-hover;
	 text-decoration: underline;
	}
	
}
 ul li.divider-vertical {
	 border-left: 1px solid #dadada;
	 display: inline;
	 height: 16px;
	 margin: 0 9px;
	}

}
}
