// Variables
//------------------------------------------------------
$progress-primary:                 $brand-primary !default;
$progress-success:                 $brand-success !default;
$progress-danger:                  $brand-danger !default;
$progress-warning:                 $brand-warning !default;
$progress-info:                    $brand-info !default;

$progress-background-color:        $lightgray-dark !default;

// Exports
//------------------------------------------------------
@include exports("progress") {

  /**
   * progress
   * --------------------------------------------------
   */
  .progress {
      background-color: $progress-background-color;
      @include box-shadow($value: none);

      &-bar {
        background-color: $progress-primary;
        @include box-shadow($value: none);
      }
      &-bar-success {
        background-color: $progress-success;
      }
      &-bar-info {
        background-color: $progress-info;
      }
      &-bar-warning {
        background-color: $progress-warning;
      }
      &-bar-danger {
        background-color: $progress-danger;
      }
  }
}


